<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Taut - a tool for Slack</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta charset="utf-16" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Taut - a tool for Slack" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}public/images/card.png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="512" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.meta_description }}{% endif %}" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="&#64;g3rv4">
    <meta name="twitter:creator" content="&#64;g3rv4">
    <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}public/images/card.png" />
  </head>
  <body class="markdown-body">
    {{content | extlinks:page}}
  </body>
</html>
